 * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/src/img/mesero.png);
    background-repeat: no-repeat;
  }
/* 
  .nombre{
    margin-top: -124px;
    margin-bottom: 100px;
  } */
/* 
  .items {
    
    margin-bottom: 100px;
  } */

  .titulo {
    display: flex;
    flex-direction: column;
  }

  .cliente{
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #C7DA88;
  }
  
  .save{
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 30px;
    font-size: 12px;
    border-radius: 20px;
  }

  .footer{
    display: flex;
    flex-direction: column;
  
   
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    
    left: 0;
    bottom: 0;
   
    width: 100vw;
    background-color: #C7DA88;
    
  }

  .enviar{
    left: 550px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 30px;
    width: 170px;
    height: 90px;
    background-color: #D35E18;
    color: #fff;
    position: absolute;
    left: 553px;
    top: 900px;
  }

  
  
  .postres {
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 50px;
    font-size: 15px;
    background-color: #C7DA88;
  }
  
  .menu-postres {
    position: relative;
    display: flex;
    justify-content: center;
    
  }
  .menu-acomp {
    position: relative;
    display: flex;
    justify-content: center
  }

  .menu-entradas{
    position: relative;
    display: flex;
    justify-content: center
  } 

  .menu-hamburguesas {
    position: relative;
    display: flex;
    justify-content: center
  }
  
  .menu-container {
   display: flex;
   align-content: center;
   align-items: center;
   
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
  }
  
  .opciones {           
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.6s ease;
    background-color: #C7DA88;
    font-family: 'Montserrat', sans-serif;
  }
    /* Strictly for positioning */
  
   
  .opciones:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  
  }
  
  
  .opciones span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    vertical-align: middle;
    font-size: 17px;
    margin: 0 10px;
    
  }
  
 
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }

    
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 10;

  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }

    
  .grid {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 106px 166px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    grid-area: menu;
    margin-left: 68px;
  }

  .div4 
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 58px 2px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "."
      "."
      "total";
  }
  
  .total {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 65px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "despliegue";
    grid-area: "items";
    margin-right: 463px;
  }
  
  .despliegue {  
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    grid-area: "despliegue";
  }
  
  
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
    "."
    "menu"
    ".";

    }
    
    .div1 .titulo{ grid-area: 1 / 1 / 2 / 2; }
    .div2 .nombre { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }

/* 
    .id1{
      display: flex;
      position: absolute;
      right: 409px;
      top: 360px;
    
    } */
        
