* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/mesero.png);
    background-repeat: no-repeat;
  }

  form{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .cliente{
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    background-color: #C7DA88;
  }
  
  .save{
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 30px;
    font-size: 12px;
    border-radius: 20px;
  }

  footer{
    position: fixed;
    display: flex;
    flex-direction: column;
  
   
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    
    left: 0;
    bottom: 0;
   
    width: 100vw;
    height: 400px;
    background-color: #C7DA88;
    
  }

  .enviar{
    position: absolute;
    left: 550px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 30px;
    width: 170px;
    height: 50px;
    background-color: #D35E18;
    color: #fff;
  }
 
  .total{
    top: 400px;
  }
  
  
  .postres {
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 50px;
    font-size: 15px;
    background-color: #C7DA88;
  }
    
    
  
  .menu-container {
   display: flex;
   align-content: center;
   align-items: center;
   
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
  }
  
  .opciones {           
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.6s ease;
    background-color: #C7DA88;
    font-family: 'Montserrat', sans-serif;
  }
    /* Strictly for positioning */
  
  
  .opciones:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  
  }
  
  
  .opciones span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    vertical-align: middle;
    font-size: 17px;
    margin: 0 10px;
    
  }
  
 
  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 30px;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
  